.footer{
    background:#333333;
    height: 45vh;
    display:flex;
    justify-content:space-around;
    align-items: center;

}

.footer__container{
    display:flex;
    width:45%;
    
}

.footer__map{
    height:13rem;
    width: 18rem;



}

.address{
    color:white;
    padding: 1.5rem 1rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-left:1rem;


}

.address__button{ 
    font-weight:bold;
    text-align:center;
    width:40%;
    padding: 1rem;
    background:#DEB959;
    border-radius: .5rem;
    text-decoration:none;
    color:black;
    font-size:1rem;

}

.copyright__description{
    color:white;
    margin-bottom: 1rem;
    text-align:center;


}

.copyright{
    margin-right: 8rem;
    display:flex;
    flex-direction:column;
    align-items:center;

}