.intro{
    height:77vh;
    background:url(../img/angry-wolf.png) no-repeat center;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    
}

.intro__container{
    width:60%;
    text-align: center;
    
    
   

}

.intro__title{
    font-size: 5rem;
    color:white;
    font-weight:bold;
    margin-bottom:2rem;
    
    

}

.intro__text{
    color:#f0f0f0;
    font-size:1.25rem;
    padding:0 4rem;
    margin-top:2rem;
    line-height: 1.5rem;
        
}

.intro__outline{
    width:6rem;
    height:.3rem;
    background-color:white;
    display:inline-block;

}