.showing{
    height:120vh;   
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.showing__container{
    height:70%;
    width:65%;
    display:flex;

}

.text__container{
    padding:0 3rem;
    display:flex;
    flex-direction: column;

}

.wolf__container{
    display:flex;
    flex-direction: column;
    align-items:center;

}

.button__container{
    margin-top:6rem;
}

.wolf__button{
    color:white;
    padding:0.5rem 1.5rem;
    font-size:1.25rem;
    text-transform: uppercase;
    margin:0 2rem;
}

.red{
    background:#DE5959;  

}

.green{
    background:#7AAC3A;

}

.showwolf__text{
    line-height:1.1rem;
    font-size:1.25rem;
    margin:.5rem 0;



}

.showing__title{
    font-weight: bold;
    font-size:3rem;
}


.wolf__img{
    width:24rem;


}

.red:hover{
    cursor:pointer;
    border:2px solid #DE5959;  
    background: white;
    color: #DE5959;  

}

.green:hover{

    cursor:pointer;
    border:2px solid #7AAC3A; 
    background: white;
    color: #7AAC3A;  



}