.intro{
    height:50vh;
    text-align:center;

}

.title{

    font-size:2rem;
    font-weight:bold;
    padding:3rem 0;

}

.text{
    margin:0 auto;
    width: 75%;
    line-height: 1.75rem;
    font-size:1.25rem;

}