.wolves{
    background:#ffffff;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height: 180vh;
    align-items: center;

}

.wolves__title{
    font-size:2.5rem;
    font-weight: bold;
    color:#DEB959;
    
}

.wolf{

    width:80%;
    height:35%;
    display:flex;


}

.wolf__intro{
    width:50%;
    position:relative;
    


}

.wolf__description{
    display:flex;
    width:50%;
    flex-direction:column;
    padding:4rem;
    justify-content: space-around;
    margin-bottom:3rem;

}

.wolf__text{
    margin-top:2rem;
    font-size: 1rem;
}

.wolf__title{
    font-size: 2rem;
    font-weight: bold;


}

.wolf__background{
    height:80%;
    width:90%;
    background:#2C5680;
    border:4px solid black;
    position:absolute;
    top:0;
    left:0;
   


}

.wolf__img{
    position:absolute;
    top:10%;
    right:0;

}

.wolf__title--right{

    margin-left:15rem;



}

.wolf__background--whiteWolf{
    height:80%;
    width:90%;
    background:#2C5680;
    border:4px solid black;
    position:absolute;
    top:0;
    right:0;
    
}

.wolf__img--whiteWolf {
    position:absolute;
    top:10%;
    left:0;


}


